extends ../base
include ../mixins/videos

block content 
    h1 My Video
    if videos
        each video in videos
            - const id = video._id
            - const thumbnail = video.thumbnail
            form(method="POST", class="form")
                div(class="divContainer")
                    a(href=`/videos/watch/${id}`)
                        img(src=`/upload/thumbnail/${thumbnail}`)
                        br
                        span=video.title
                    +video(video) 
                    button(class="button") X
                    p
                input(type="hidden", name="id", value=`${id}`)
    block scripts 
        script(src="/scripts/myVideoDelete.js") 