doctype html 
html 
    head
        if title
            title Youtube - #{title}
        else 
            title Youtube
        script(src="https://kit.fontawesome.com/809697769a.js" crossorigin="anonymous")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    body
        block content