extends base

block content 
    if error 
        span=error
    form(method="POST")
        span 비밀번호 변경 
        input(type="password", placeholder="write your change password", required, name="changePassword")
        p 
        span 비밀번호 재입력 
        input(type="password", placeholder="write your change password again", required, name="changePassword_2")
        p 
        button 확인
        p
        a(href="/users/login") 로그인 화면으로
        br
        a(href="/") 홈 화면으로