extends base
include mixins/mixins

block content 
    block header 
    form(action="/search", method="GET")
        input(type="text", placeholder="Search", name="search")
    ul 
        if !login
            li 
                a(href="/users/login") login 
            li
                a(href="/users/sign") sign
        else 
            li 
                a(href="/users/logout") LogOut
            li 
                a(href="/videos/upload") Upload
            li 
                a(href="/videos/my-videos") My Videos
            li 
                a(href="/videos/watch-recode") Watch Recode

    if videos
        each video in videos
            - let user = userId
            - let id = video._id
            - let thumbnail = video.thumbnail
            a(href=`/videos/watch/${id}`)
                img(src=`upload/thumbnail/${thumbnail}`)
                br
                span=video.title
            +video(video) 