extends base
include mixins/mixins

block content 
    h1 My Video
    if videos
        each video in videos
            - const id = video._id
            - const thumbnail = video.thumbnail
            div
                a(href=`/videos/watch/${id}`)
                    img(src=`/upload/thumbnail/${thumbnail}`)
                    br
                    span=video.title
                +video(video) 
                form(method="POST")
                    button(class="button") X
                    input(type="hidden", name="id", value=`${id}`)
                p
    block scripts 
        script(src="/scripts/delete.js") 